   <style>
   .forecastwidget .icon.sunny {background-image:url(https://brymeteo.github.io/player/soleggiato2.svg);}
        .forecastwidget .icon.partsunny {background-image:url(https://brymeteo.github.io/player/nuvole-sole.svg);}
        .forecastwidget .icon.cloudy {background-image:url(https://brymeteo.github.io/player/nuvoloso1.svg);}
        .forecastwidget .icon.rain {background-image:url(https://brymeteo.github.io/player/v.svg);}
        .forecastwidget .icon.snow {background-image:url(https://brymeteo.github.io/player/neve1.svg);}
        </style>
